*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{

    width: 700px;
    height: 260px;
    border: 2px solid rgb(43, 110, 52);
    margin-top: 6%;
    margin-left: 26%;
    padding-bottom: 0%;
}
.heading{
    height:30%;
    width: 100%;
    color: lightseagreen;
    border: none;
    font-style: italic;
    font-size: 3cm;
    text-align: center;
}
body{
    background-color: #e5f5ce;
    background-size: cover;
}
#character{
    width: 30px;
    height: 70px;
    position:relative;
    top: 190px;
    bottom: 0%;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{top: 190px;}
    10%{top: 170px;}
    20%{top: 150px;}
    30%{top: 130px;}
    40%{top: 110px;}
    50%{top: 100px;}
    60%{top: 110px;}
    70%{top: 130px;}
    80%{top: 150px;}
    90%{top: 170px;}
    100%{top: 190px;}

}
#label-container{
    transform: translate(1200px,-500px);
}
#block{
    width: 30px;
    height: 30px;
    position: relative;
    top: 190px;
    left: 500px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left: 700px}
    100%{left: -30px}
}
.Jbutton {
    text-align: center;
    font-size: 1cm;
    transform: translate(900px,-43px);
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
    color: wheat;
    width: 10%;
    height: 15%;
    border-radius: 20px;

}
.Jbutton:hover{
    cursor: pointer;
    background-color: wheat;
    color: lightseagreen;
}
